*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'roboto', sans-serif;
}


h1{font-size: 3.5em; }
h2{font-size: 2.7em;}
h3{font-size: 2em;}
p{font-size: 1.25em;}
ul{ list-style: none;}


button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 5px 30px;
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: 2px 2px 10px black;
    background-color: rgb(26, 143, 252);
    color: white;
}

button:hover{
    background-color: rgb(0, 45, 243);
    transition: 0.5s;
    cursor: pointer;
}


.container{
    max-width: 1400px;
    margin: auto;
    margin-top: 0;
}

header{
    background-color: rgb(245, 245, 245);
    position: fixed;
    width: 100%;
    
}

nav .activo{
    background-color: rgb(199, 209, 255);
    border-radius: 10px 3px 10px;
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: rgb(0, 97, 189);
    font-size: 1.8em;
}

header .container{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

header nav{
    display: flex;
    flex-direction: row;
    padding-bottom: 0;
    padding-right: 20px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: rgb(0, 97, 189);
}


/*-----------------------------*/

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 200vh;
    background-color: orange;
    
}

#hero h2{
    text-align: center;
    color: black;
}

#hero p{
    color: white;
}

