.cuadrado {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
}

.cuadrado.rojo {
    background: red;
}

.cuadrado.azul {
    background-color: blue;
}

.cuadrado.verde {
    background-color: green;
}

.cuadrado.borde {
    border: 2px solid black;
}
