<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Index</a></li>
        <li><a href="/Nuestrosprogramas">Nuestrosprogramas</a></li>
        <li><a href="/Quienessomos">Quienessomos</a></li>
        <li><a href="/Registrate">Registrate</a></li>
      </ul> 
    </nav>
    {{{body}}}
  </body>
</html>
