/*
id (Único por pág.) - llamarlo con #
class (Varias) - llamarlo con . 



CSS
text- align = posición
text- transform: mayuscula o minuscula
fon-size: tamaño letra
line-height: separación entre linea y linea de parrafos, 
width: ancho
height: alto
padding: separar contenido del borde
box-sizing: dentro del div
margin: margenes 



HTML
span: destacar texto en parrafo
div: caja contenedora
*/


body{
    background-color: #dbd7ff;
}

.header{
    color: #043b04;
    width: fit-content;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    size: 100mm;
    font-style: italic;
}

.imagen{
    filter: grayscale(62%);
    -webkit-filter: grayscale(62%);
    -moz-filter: grayscale(62%);
}

.img{
    text-align: center;
}

.datos{
    text-align: center;
    color: #043b04;
    font-style: italic;
}

.datos p{
    text-align: center;
    color: #043b04;
    font-style: italic;
}





.resumen{
    text-align: center;
    color: #043b04;
    font-style: italic;
}





.fa{
    color: #043b04;
    font-style: italic;
}

.fa1{
    color: #043b04;
    font-style: italic;
}




.el{
    color: #043b04;
    font-style: italic;
}






.footer{  
    text-align: right;
    content: "";
	display: inline-block;
	height: 2px;
	width: 100%;
	background: #000000;
	position: relative;
	top: -29px;
	z-index: 1;
}

.footer a{
    text-align: center;
    width: 100%;
    color: #1d009e;
	background: #ffffff;
	position: relative;
}